
<div>
  <!--  HERO -->
  <div class="flex w-full h-[90vh] xs:h-[50vh] md:h-[90vh] bg-primary text-primary-dark">



    <div class="text-left mt-40 p-20">
      <h1 class="titulo
      text-[28px]
      sm:text-[30px]
      md:text-[40px]
      lg:text-[85px]
      xl:text-[95px]
      font-IBM">Adopta un animal cariñoso</h1>
      <p class="
      text-[18px]
      sm:text-[22px]
      md:text-[35px]
      lg:text-[45px]
      xl:text-[50px]
      mt-4 font-light max-w-250">Rescatar, adoptar y ayudar transforma vidas. Juntos, hacemos la diferencia.</p>

      <!-- Boton y imagen -->
      <div class="bg-primary pt-20">
        <button class="bg-btn-primary-ligth text-white text-[25px] px-5 py-2 rounded-lg hover:bg-btn-primary-dark transition duration-300">
          Registrarse
        </button>
      </div>

    </div>


    <!-- <img src="img/landing.jpg" alt="perro" class="hidden md:block max-w-[650px] object-cover ml-10" /> -->

    <!-- Imagen para pantallas menores de 1282px a 971px -->
    <!-- <img src="img/animalesHero.png" alt="perro" class="hidden sm:hidden lg:block xl:hidden absolute bottom-30 right-0 w-full max-w-[650px] object-cover z-0"> -->

    <!-- Imagen para pantallas mayores a 1282px -->
    <!-- <img src="img/perroabrigo.png" alt="animales" class="hidden lg:hidden xl:block absolute bottom-20 right-30 w-4xl object-cover z-0"> -->

  </div>

  <!-- Apartado del componente slider -->
  <section class="mt-25">
    <h1 class="text-[35px] uppercase font-poppins font-semibold text-texto-gris-oscuro text-center">EXPERIENCIAS DE ADOPCIÓN</h1>
    <p class="text-[20px] uppercase font-poppins font-normal text-texto-gris-claro text-center" >Cada adopción tiene su historia, ¿cuál será la tuya?</p>
    <app-slider [num]="1" (slideLeft)="slideLeft($event)" (slideRight)="slideRight($event)"></app-slider>
  </section>

<!-- Apartado del componente card -->
  <section class="mt-25 mb-20">
    <h1 class="text-[35px] uppercase font-poppins font-semibold text-texto-gris-oscuro text-center">ADOPTA CON CONFIANZA</h1>
    <p class="text-[20px] uppercase font-poppins font-normal text-texto-gris-claro text-center" >Cada adopción tiene su historia, ¿cuál será la tuya?</p>
    <app-card></app-card>
  </section>

</div>
