
<section class="mx-20">
  <div class="mt-15">
    <h1 class="text-[35px] uppercase font-poppins font-semibold text-texto-marron-oscuro text-center">REFUGIOS</h1>
    <p class="text-[18px] uppercase font-poppins font-normal text-texto-gris-claro text-center" >Ellos no hablan, pero su mirada pide un hogar</p>
  </div>
  <div class="flex justify-center px-4 py-8 md:justify-end lg:justify-end lg:px-9 lg:py-14">
    <app-search-shelters></app-search-shelters>
  </div>

  <!-- Listado de usuarios -->
  <app-list-shelters></app-list-shelters>
</section>

