<div class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center lg:mt-15 z-50">
  <div class="relative flex flex-col w-full lg:max-w-3xl h-full lg:h-[90vh] bg-white rounded-none p-6 pt-20 lg:p-10 lg:pt-20 lg:rounded-2xl shadow-lg" (click)="$event.stopPropagation()">

    <!-- Título -->
    <h2 class="text-3xl font-bold text-center mb-3 lg:mb-7 text-gray-800">
      Crear nueva adopción
    </h2>

    <!-- Formulario con espacio bottom para los botones fijos -->
    <form [formGroup]="form" (ngSubmit)="submitReport()" class="flex-1 flex flex-col gap-6 overflow-y-auto pb-32">

      <!-- Nombre -->
      <div>
        <label class="form-label">Nombre *</label>
        <input formControlName="name" class="inputFormStyle" placeholder="Nombre del animal" />
        @if(form.get('name')?.touched && form.get('name')?.hasError('required')){
          <small class="text-red-600">
            Nombre obligatorio
          </small>
        }
      </div>


      <!-- Ubicación y descripción -->
      <div>
        <label class="form-label">Ubicación</label>
        <input formControlName="location" maxlength="100" class="inputFormStyle" />
      </div>
      <div>
        <label class="form-label">Descripción</label>
        <textarea formControlName="description" rows="4" maxlength="1000" class="inputFormStyle resize-none"></textarea>
      </div>

      <!-- Estado & Contacto -->
      <div>
        <label class="form-label">Estado *</label>
        <select formControlName="state" class="inputFormStyle">
          <option value="FOUND">ENCONTRADO</option>
          <option value="MISSING">SE BUSCA</option>
        </select>
      </div>

      <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="form-label">Teléfono contacto</label>
          <input formControlName="contactPhone" class="inputFormStyle" />
          @if(form.get('contactPhone')?.touched && form.get('contactPhone')?.hasError('pattern')){
            <small class="text-red-600">
              Formato inválido
            </small>
          }
        </div>
        <div>
          <label class="form-label">Email contacto</label>
          <input formControlName="contactEmail" type="email" class="inputFormStyle" />
          @if(form.get('contactEmail')?.touched && form.get('contactEmail')?.hasError('email')){
            <small class="text-red-600">
              Email inválido
            </small>
          }
        </div>
      </div> -->

      <!-- Imagen & Checkboxes -->
      <div>
        <label class="text-sm font-medium mb-1">Imagen *</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="w-full file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary-dark file:text-white hover:file:bg-primary-dark"/>
        @if(form.get('image')?.touched && form.get('image')?.hasError('required')){
          <small class="text-red-600">Debes seleccionar una imagen</small>
        }
      </div>


      <!-- Botones fijos en la parte inferior -->
      <div class="absolute bottom-0 left-0 right-0 flex flex-col lg:flex-row justify-between items-center gap-6 p-4 border-t border-primary-dark bg-white">
        <button type="submit" class="w-full lg:w-auto mx-2 lg:px-10 py-2 bg-primary-light/20 text-texto-marron-oscuro font-semibold rounded-md hover:bg-primary-light hover:text-texto-marron-oscuro disabled:bg-primary-light/50" [disabled]="form.invalid">
          Reportar
        </button>
        <button type="button" class="w-full lg:w-auto mx-2 lg:px-10 py-2 bg-red-950 text-white rounded-md hover:bg-red-950/70" (click)="closeModal()">
          Cancelar
        </button>
      </div>

    </form>
  </div>
</div>
