<div
  class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50"
  (click)="close()"
>
  <div
    class="relative bg-white rounded-2xl p-6 w-full max-w-lg shadow-lg"
    (click)="$event.stopPropagation()"
  >
    <h2 class="text-2xl font-bold text-center mb-6">Crear reporte de animal</h2>
    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

      <!-- Nombre -->
      <div>
        <label class="form-label">Nombre del animal *</label>
        <input formControlName="name" class="inputFormStyle w-full" />
        @if (form.get('name')?.touched && form.get('name')?.hasError('required')) {
          <p class="text-red-600 text-sm">
            El nombre es obligatorio
          </p>
        }
      </div>

      <!-- Descricion -->
      <div>
        <label class="form-label">Descripción *</label>
        <textarea formControlName="description" rows="3" class="inputFormStyle w-full"></textarea>
        @if (form.get('description')?.touched && form.get('description')?.hasError('required')) {
          <p class="text-red-600 text-sm">
            La descripción es obligatoria
          </p>
        }
      </div>

      <!-- Ubicaciopm -->
      <div>
        <label class="form-label">Ubicación *</label>
        <input formControlName="location" class="inputFormStyle w-full" />
        @if (form.get('location')?.touched && form.get('location')?.hasError('required')) {
          <p class="text-red-600 text-sm">
            La ubicación es obligatoria
          </p>
        }
      </div>

      <!-- Nombre y telefono del contacto -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="form-label">Nombre contacto *</label>
          <input formControlName="contactName" class="inputFormStyle w-full" />
          @if (form.get('contactName')?.touched && form.get('contactName')?.hasError('required')) {
            <p class="text-red-600 text-sm">
              Obligatorio
            </p>
          }
        </div>
        <div>
          <label class="form-label">Teléfono contacto *</label>
          <input formControlName="contactPhone" class="inputFormStyle w-full" />
          @if (form.get('contactPhone')?.touched && form.get('contactPhone')?.hasError('pattern')) {
            <p class="text-red-600 text-sm">
              Formato inválido
            </p>
          }
        </div>
      </div>

      <!-- Imagen -->
      <div>
        <label class="form-label">Imagen *</label>
        <input
          type="file"
          (change)="onFileSelected($event)"
          formControlName="image"
          class="inputFormStyle
           file:mr-4 file:py-2 file:px-4
           file:rounded-md file:border-0 file:text-sm
           file:font-semibold file:bg-primary-dark
           file:text-white hover:file:bg-primary-dark/80"
        />
        @if (form.get('image')?.touched && form.get('image')?.hasError('required')) {
          <p class="text-red-600 text-sm">
            La imagen es obligatoria
          </p>
        }
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-3 mt-8">
        <button type="button" (click)="close()" class="px-6 py-2 bg-red-950 text-white rounded-md">
          Cancelar
        </button>
        <button
          type="submit"
          [disabled]="form.invalid"
          class="px-6 py-2 bg-primary-dark/90 hover:bg-primary-dark/80 active:bg-primary-dark text-white rounded-md"
        >
          Enviar
        </button>
      </div>

    </form>
  </div>
</div>
