<section class="flex flex-col items-center space-y-6 min-h-screen">
  @if(postList | async; as posts) {

    @if(posts.length < 1) {
      <h3 class="text-center text-gray-500 py-10">No hay publicaciones</h3>
    } @else {
      @for(post of postList | async; track post.id) {
        <div class="w-full max-w-[600px] bg-white rounded-xl shadow-sm border border-gray-200 p-6 space-y-4">

          <!-- Usuario y fecha -->
          <div class="flex items-center gap-3">
            <div class="w-12 h-12 bg-gray-300 rounded-full">
              <img [src]="buildImageUrl(post.profileImageUrl, defaultAvatar)" alt="Avatar" class="w-12 h-12 rounded-full object-cover shadow-md" (error)="onAvatarError($event)" />
            </div>
            <div>
              <p class="font-semibold text-texto-marron-oscuro">{{ post.username }}</p>
              <p class="text-xs text-gray-500">{{ formatPostDate(post.createdAt) }}</p>
            </div>
          </div>

          <!-- Título -->
          <h2 class="text-lg font-bold text-texto-marron-claro">
            {{ post.title }}
          </h2>

          <!-- Contenido -->
          <p class="text-sm text-gray-700 whitespace-pre-line break-words">
            {{ post.content }}
          </p>

          <!-- Imagen -->
          @if(post.imageUrl) {
            <div class="w-full rounded-lg overflow-hidden">
              <img [src]="buildImageUrl(post.imageUrl, '/img/default-post.jpg')" alt="Imagen del post" class="w-full h-auto object-cover" />
            </div>
          }

          <!-- Comentarios -->
           @if(commentPostId === post.id){
            <div>
              <app-comments-post [postId]="post.id"></app-comments-post>
            </div>
           }


          <!-- Comentar -->
          <div class="flex justify-between text-sm text-gray-500 pt-2 border-t border-gray-200">
            <!-- <button class="hover:underline">Me gusta</button> -->
            <button class="hover:underline" (click)="openComment(post.id)">Comentar</button>
          </div>
        </div>
      }
    }
  }
</section>
