
<div class="fixed bg-black/50 backdrop-blur-sm inset-0 flex items-center justify-center z-99">
  <!-- modal -->
    <div class="flex flex-col justify-between overflow-y-auto relative bg-white p-10 rounded-xl shadow-xl w-full h-screen" (click)="$event.stopPropagation()">

    <!-- Botón de cerrar -->
    <button (click)="close()" class="absolute top-2 right-2 text-2xl font-bold text-gray-500 hover:text-gray-900">×</button>

    <h2 class="text-2xl font-semibold mb-2 text-center">Crear nuevo post</h2>

    <form (ngSubmit)="submitPost()" #postForm="ngForm" class="flex flex-col flex-grow space-y-5 justify-start">

      <div class="mt-4">
        <label for="category" class="block text-sm font-medium text-gray-700 mb-1">Categoría</label>
        <select [(ngModel)]="post.category" name="category" id="category" required
        class="w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-sm shadow-sm focus:border-primary-dark focus:ring focus:ring-primary-light focus:ring-opacity-50">
            <option value="ADOPTION" selected>Adopción</option>
            <option value="ADVICE">Consejo</option>
            <option value="RESCUE">Rescate</option>
        </select>
      </div>

      <div>
        <p>Título:</p>
        <input type="text" name="title" [(ngModel)]="post.title" class="w-full border border-bg-marron-claro rounded px-3 py-2 mt-1 focus:outline-none focus:ring focus:ring-bg-marron-claro" required/>
      </div>

      <div>
        <p>Contenido:</p>
        <textarea name="content" class="w-full border border-bg-marron-claro rounded px-3 py-2 mt-1 focus:outline-none focus:ring focus:ring-bg-marron-claro" [(ngModel)]="post.content" required></textarea>
      </div>


      <div>
        <p class="mb-5">Imagen:</p>
        <input type="file" (change)="onFileSelected($event)" accept="image/*"
        class="w-full text-sm text-texto-marron-oscuro file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary-dark file:text-texto-marron-oscuro hover:file:bg-primary-dark hover:file:text-texto-marron-claro mt-2" required/>
      </div>


      <!-- Botones -->
      <div class="flex flex-col lg:flex-row justify-between items-center gap-4 pt-6 mt-auto border-t border-primary-dark">
        <button type="submit" class=" lg:w-auto px-5 py-2 lg:px-10 lg:py-10 bg-primary-light font-bold text-texto-marron-oscuro rounded-[8px] hover:bg-primary-dark hover:text-white" [disabled]="postForm.invalid">Publicar</button>
        <button type="close"  class="w-full lg:w-auto py-2 px-4 lg:px-10 lg:py-10 hover:bg-red-200 hover:text-red-950 bg-red-950/70 text-white font-medium rounded-[8px] transition-colors duration-200 shadow-sm" (click)="close()">Cancelar</button>
      </div>

    </form>
  </div>
</div>
