<!-- Navbar - Modo escritorio -->
<nav class="hidden lg:fixed top-0 left-0 w-full bg-white/50 backdrop-blur-md p-4 lg:flex items-center justify-between z-99">

  <!-- Imagen logo -->
  <img src="img/logo_color.png" alt="HuellitasSolidarias" class="max-w-[250px] h-auto">

  <!-- Paginas -->
  <ul class="flex space-x-6 text-texto-navbar text-lg">
    @if (isAdmin()) {
      <li><a routerLink="/admin/users" class="hover:text-gray-500 transition duration-300">USUARIOS</a></li>
      <li><a routerLink="/admin/posts" class="hover:text-gray-500 transition duration-300">POSTS</a></li>
      <li><a routerLink="/admin/adoptions" class="hover:text-gray-500 transition duration-300">ADOPCIONES</a></li>
      <li><a routerLink="/admin/reports" class="hover:text-gray-500 transition duration-300">REPORTES</a></li>
    } @else {
      <li><a routerLink="/shelters" class="hover:text-gray-500 transition duration-300">REFUGIOS</a></li>
      <li><a routerLink="/adoptions" class="hover:text-gray-500 transition duration-300">ADOPCIONES</a></li>
      <li><a routerLink="/reportes" class="hover:text-gray-500 transition duration-300">REPORTES</a></li>
      <li><a routerLink="/publicaciones" class="hover:text-gray-500 transition duration-300">PUBLICACIONES</a></li>
    }
  </ul>


  @if(!isAuthenticated()){
    <!-- Botones -->
    <div class="flex items-center space-x-4">
      <button class="text-texto-navbar px-4 py-2 rounded-lg hover:bg-btn-primary-dark transition duration-300 hover:text-white" (click)="goToLogin()">
        Iniciar sesión
      </button>
      <button class="bg-btn-primary-dark text-white px-4 py-2 rounded-lg hover:bg-btn-primary-dark transition duration-300" (click)="goToRegister()">
        Registrarse
      </button>
    </div>
  } @else {
    <div class="relative flex items-center space-x-4">
      <button (click)="toggleUserMenu()" class="flex items-center justify-center w-10 h-10 rounded-full overflow-hidden border border-gray-200 shadow-sm">
        @if (profile()?.profileImageUrl) {
          <img
            [src]="avatarSrc"
            alt="Avatar"
            class="w-full h-full object-cover"
            (error)="onAvatarError($event)"
          />
        } @else {
          <img
            [src]="defaultAvatar"
            alt="Avatar por defecto"
            class="w-full h-full object-cover"
          />
        }
      </button>

      @if(isUserMenuOpen) {
        <div
          class="fixed inset-0 z-40 bg-transparent"
          (click)="closeUserMenu()"
        ></div>
        <div class="absolute right-0 top-full mt-2 w-48 bg-white shadow-lg rounded-xl z-50 overflow-hidden border border-gray-200">
          <a routerLink="/myprofile" (click)="goToProfile(); closeUserMenu()"
             class="flex items-center gap-2 px-4 py-2 text-sm text-texto-marron-oscuro hover:bg-gray-100">
            <i class="fas fa-user"></i> Mi perfil
          </a>
          <button (click)="logout(); closeUserMenu()"
                  class="w-full flex items-center gap-2 px-4 py-2 text-sm text-texto-marron-oscuro hover:bg-gray-100">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
          </button>
        </div>
      }
    </div>
  }
</nav>


<!-- Navbar - modo movil -->
<nav class="lg:hidden fixed top-0 left-0 w-full bg-white/50 backdrop-blur-md p-4 flex flex-col z-90">
  <div class="flex items-center justify-between">

    <!-- Imagen logo -->
    <img src="img/logo_color.png" alt="HuellitasSolidarias" class="max-w-[200px] h-auto">

    <!-- Botón -->
    <button class="text-2xl text-texto-navbar px-4 py-2 transition duration-300 hover:text-text-marron-claro/50" (click)="toggleNav()">
      <i [ngClass]="isNavOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
    </button>
  </div>
</nav>


@if(isNavOpen){

  <!-- Menú desplegable -->
  <div class="lg:hidden fixed w-full bg-white/85 backdrop-blur-md shadow-lg px-6 pb-6 flex flex-col space-y-4 text-texto-navbar text-lg rounded-b-[15px] animate-fade-down z-99999">

  <!-- Páginas -->
  <div class="flex flex-col space-y-6 text-texto-marron-oscuro text-lg p-6">
    @if (isAdmin()) {
      <a routerLink="/admin/users" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-users text-btn-primary-dark mr-2"></i>
        USUARIOS
      </a>
      <a routerLink="/admin/posts" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-newspaper text-btn-primary-dark mr-2"></i>
        POSTS
      </a>
      <a routerLink="/admin/adoptions" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-paw text-btn-primary-dark mr-2"></i>
        ADOPCIONES
      </a>
      <a routerLink="/admin/reports" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-file-alt text-btn-primary-dark mr-2"></i>
        REPORTES
      </a>

    } @else {
      <a routerLink="/shelters" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-home text-btn-primary-dark mr-2"></i>
        REFUGIOS
      </a>
      <a routerLink="/adoptions" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-paw text-btn-primary-dark mr-2"></i>
        ADOPCIONES
      </a>
      <a routerLink="/reportes" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-file-alt text-btn-primary-dark mr-2"></i>
        REPORTES
      </a>
      <a routerLink="/publicaciones" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-newspaper text-btn-primary-dark mr-2"></i>
        PUBLICACIONES
      </a>
    }
  </div>


  <!-- Botones -->
    <div class="p-6 space-y-6">
      <!-- Si el usuario no esta logeado le aparecera los botones de registrarse o iniciar sesión -->
      @if(!isAuthenticated()) {
        <button (click)="goToLogin(); toggleNav()" class="w-full text-center font-semibold text-btn-primary-dark border border-btn-primary-dark px-4 py-2 rounded-xl hover:bg-btn-primary-dark hover:text-white transition duration-300">
          Iniciar sesión
        </button>

        <button (click)="goToRegister(); toggleNav()" class="w-full text-center font-semibold bg-btn-primary-dark text-white px-4 py-2 rounded-xl">
          Registrarse
        </button>

      } @else {

        <a routerLink="#" (click)="goToProfile(); toggleNav()" class="w-full px-4 py-8 text-lg font-semibold texto-marron-claro ">
          <i class="fas fa-user mr-2"></i>
          Mi perfil
        </a>
        <button (click)="logout(); toggleNav()" class="w-full text-left px-4 py-8 text-lg font-semibold text-red-800 flex items-center gap-2">
          <i class="fas fa-sign-out-alt mr-2"></i>
          Cerrar sesión
        </button>
      }
    </div>
  </div>
}
