<!-- Navbar - Modo escritorio -->
<nav class="hidden lg:fixed top-0 left-0 w-full bg-white/50 backdrop-blur-md p-4 lg:flex items-center justify-between z-99">

  <!-- Imagen logo -->
  <img src="img/logo_color.png" alt="HuellitasSolidarias" class="max-w-[250px] h-auto">

  <!-- Paginas -->
  <ul class="flex space-x-6 text-texto-navbar text-lg">
    <li>
      <a href="/adopciones" routerLink="/adopciones" class="hover:text-gray-500 transition duration-300">ADOPCIONES</a>
    </li>
    <li>
      <a href="/reportes" routerLink="/reportes" class="hover:text-gray-500 transition duration-300">REPORTES</a>
    </li>
    <li>
      <a href="/publicaciones" routerLink="/publicaciones" class="hover:text-gray-500 transition duration-300">PUBLICACIONES</a>
    </li>
  </ul>

  @if(!isAuthenticated()){
    <!-- Botones -->
    <div class="flex items-center space-x-4">
      <button class="text-texto-navbar px-4 py-2 rounded-lg hover:bg-btn-primary-dark transition duration-300 hover:text-white" (click)="goToLogin()">
        Iniciar sesión
      </button>
      <button class="bg-btn-primary-dark text-white px-4 py-2 rounded-lg hover:bg-btn-primary-dark transition duration-300" (click)="goToRegister()">
        Registrarse
      </button>
    </div>
  } @else {

    <div class="relative flex items-center space-x-4">
      <button (click)="toggleUserMenu()" class="text-4xl text-texto-navbar hover:text-texto-marron-claro transition duration-300">
        <i class="fas fa-user-circle"></i>
      </button>

      <!-- Si el usuario abre el submenu del perfil -->
      @if(isUserMenuOpen){
        <div
            class="absolute right-0 top-full mt-2 w-48 bg-white shadow-lg rounded-xl z-50 overflow-hidden border border-gray-200">
          <a routerLink="/mi-perfil" (click)="closeUserMenu()"
            class="flex items-center gap-2 px-4 py-2 text-sm text-texto-marron-claro hover:bg-gray-100">
            <i class="fas fa-user"></i> Mi perfil
          </a>
          <button (click)="logout(); closeUserMenu()"
                  class="w-full flex items-center gap-2 px-4 py-2 text-sm text-texto-marron-claro hover:bg-gray-100">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
          </button>
        </div>
      }

    </div>
  }
</nav>






<!-- Navbar - modo movil -->
<nav class="lg:hidden fixed top-0 left-0 w-full bg-white/50 backdrop-blur-md p-4 flex flex-col z-90">
  <div class="flex items-center justify-between">

    <!-- Imagen logo -->
    <img src="img/logo_color.png" alt="HuellitasSolidarias" class="max-w-[200px] h-auto">

    <!-- Botón -->
    <button class="text-2xl text-texto-navbar px-4 py-2 transition duration-300 hover:text-text-marron-claro/50" (click)="toggleNav()">
      <i [ngClass]="isNavOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
    </button>
  </div>
</nav>


@if(isNavOpen){

  <!-- Menú desplegable -->
  <div class="lg:hidden fixed w-full bg-white/85 backdrop-blur-md shadow-lg px-6 pb-6 flex flex-col space-y-4 text-texto-navbar text-lg rounded-b-[15px] animate-fade-down z-99999">

    <!-- Botón cerrar 'X' -->
    <!-- <div class="flex justify-end p-4">
      <button class="text-2xl text-texto-navbar" (click)="toggleNav()">3
        <i class="fas fa-times"></i>
      </button>
    </div> -->

  <!-- Páginas -->
    <div class="flex flex-col space-y-6 text-texto-marron-oscuro text-lg p-6">
      <a routerLink="/adopciones" (click)="toggleNav()"    class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-paw text-btn-primary-dark mr-2"></i>
        ADOPCIONES
      </a>
      <a routerLink="/reportes" (click)="toggleNav()"      class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-file-alt text-btn-primary-dark mr-2"></i>
        REPORTES
      </a>
      <a routerLink="/publicaciones" (click)="toggleNav()" class="px-2 py-2 hover:text-gray-500 transition duration-300">
        <i class="fas fa-newspaper text-btn-primary-dark mr-2"></i>
        PUBLICACIONES
      </a>
    </div>

    <!-- Botones -->
    <div class="p-6 space-y-6">
      <!-- Si el usuario no esta logeado le aparecera los botones de registrarse o iniciar sesión -->
      @if(!isAuthenticated()) {
        <button (click)="goToLogin(); toggleNav()" class="w-full text-center font-semibold text-btn-primary-dark border border-btn-primary-dark px-4 py-2 rounded-xl hover:bg-btn-primary-dark hover:text-white transition duration-300">
          Iniciar sesión
        </button>

        <button (click)="goToRegister(); toggleNav()" class="w-full text-center font-semibold bg-btn-primary-dark text-white px-4 py-2 rounded-xl">
          Registrarse
        </button>

      } @else {

        <a routerLink="#" (click)="toggleNav()" class="w-full px-4 py-8 text-lg font-semibold texto-marron-claro ">
          <i class="fas fa-user mr-2"></i>
          Mi perfil
        </a>
        <button (click)="logout(); toggleNav()" class="w-full text-left px-4 py-8 text-lg font-semibold text-red-800 flex items-center gap-2">
          <i class="fas fa-sign-out-alt mr-2"></i>
          Cerrar sesión
        </button>
      }
    </div>
  </div>
}
