<section>
  <div>
    <section class="mt-15">
      <h1 class="text-[35px] uppercase font-poppins font-semibold text-texto-marron-oscuro text-center">PUBLICACIONES</h1>
      <p class="text-[18px] uppercase font-poppins font-normal text-texto-gris-claro text-center mx-15" >Sus ojos cuentan historias que no deberíamos ignorar</p>
    </section>
  </div>



  <div class="mt-16 space-y-6 px-4 py-8  items-center lg:mx-25">

    <div class="flex flex-col items-center space-y-6">
      <div (click)="openModal()" class="text-center bg-white text-gray-400 border-gray-200 py-8 w-full max-w-[600px] rounded-xl shadow-sm border rounded-lg font-poppins font-medium">
        Nueva publicacion
      </div>
    </div>


    <app-posts-list></app-posts-list>
  </div>

  @if(mostrarFormulario) {
    <app-post-form (closed)="closeModal()"></app-post-form>
  }

  @if(showLoginPrompt) {
    <app-login-prompt-modal
      (cancel)="closeLoginPrompt()"
      (login)="goToLogin()"
    ></app-login-prompt-modal>
  }

</section>
