<section class="mt-5 mx-0 lg:mx-8 space-y-5 ">

  @if(myPostList | async;  as posts) {

    @if(posts.length < 1) {
      <p class="text-center text-gray-500 mt-10">No tienes publicaciones</p>
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for(post of myPostList | async ; track post.id) {

          <article
            class="flex flex-col md:flex-row bg-white rounded-2xl shadow-md hover:shadow-xl transition-shadow duration-200 overflow-hidden">

            <!-- Imagen -->
            <div class="md:w-1/3 aspect-[4/3] bg-gray-100">
              <img
                [src]="'http://localhost:8080' + post.imageUrl"
                alt="{{ post.title }}"
                class="w-full h-full object-cover" />
            </div>

            <!-- Contenido -->
            <div class="flex flex-col flex-1 p-4">
              <header class="flex justify-between items-start mb-2">
                <h2 class="text-lg font-semibold line-clamp-1">{{ post.title }}</h2>
                <time class="text-sm text-gray-500">
                  {{ post.createdAt | date:'mediumDate' }}
                </time>
              </header>
              <p class="text-sm text-gray-600 mb-4 line-clamp-3">
                {{ post.content }}
              </p>

              <!-- Botones -->
              <div class="mt-auto flex gap-2">
                <button (click)="openEditModal(post.id)" class="flex-1 py-2 bg-btn-edit-background hover:bg-btn-edit-hover text-texto-marron-oscuro rounded-lg transition-colors duration-150">
                  Editar
                </button>
                <button (click)="deletePost(post.id)" class="flex-1 py-2 bg-red-100 hover:bg-red-200 text-red-900 rounded-lg transition-colors duration-150">
                  Eliminar
                </button>
              </div>
            </div>

          </article>
        }
      </div>
    }

  } @else {
    <p class="text-center text-gray-500 mt-10">Cargando publicaciones...</p>
  }


  <!-- Solo muestra el modal si showEditModal es true -->
  @if(showEditModal && selectedPostId !== null) {
    <app-update-post-modal [postId]="selectedPostId" (closed)="closeModal()"></app-update-post-modal>
  }

</section>

