<!-- Fondo oscuro -->
<div class="fixed inset-0 flex items-center justify-center z-50" (click)="close()">
  <!-- Contenido del modal -->
  <div class="bg-white p-6 rounded-xl w-full max-w-lg shadow-xl relative" (click)="$event.stopPropagation()">

    <!-- Botón de cerrar -->
    <button (click)="close()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 text-xl font-bold">×</button>

    <h2 class="text-2xl font-semibold mb-4 text-center">Crear nuevo post</h2>

    <form (ngSubmit)="submitPost()" #postForm="ngForm" class="space-y-4">
      <div>
        <p>Título:</p>
        <input type="text" name="title" [(ngModel)]="post.title" required class="w-full border rounded px-3 py-2 mt-1"/>
      </div>

      <div>
        <p class="">Contenido:</p>
        <textarea name="content" [(ngModel)]="post.content" required></textarea>
      </div>


      <div>
        <p class="">Imagen:</p>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" required/>
      </div>


      <div>
        <button type="submit" [disabled]="postForm.invalid">Publicar</button>
      </div>
    </form>
  </div>
</div>
