<div class="relative w-full pt-10">

  <button (click)="goSlideLeft()" class="absolute cursor-pointer left-2 top-1/2 -translate-y-1/2 bg-opacity-60 bg-btn-primary-ligth hover:bg-opacity-80 p-2 rounded-full z-50 transition">
    <img src="https://img.icons8.com/ios-filled/24/back.png" alt="back" class="w-6 h-6"/>
  </button>

  <div [id]="'slider' + num" class="hide-scrollbar flex overflow-x-auto gap-4 pt-5 pb-10 px-4 scroll-smooth">
    @for(img of imgSlider; track $index){
      <img [src]="img.path" alt="" class="w-[200px] max-h-[300px] sm:w-[250px] md:w-[300px] lg:w-[450px] rounded-md cursor-pointer hover:scale-105 transition-all duration-150 ease-in">
    }
  </div>

  <button (click)="goSlideRigth()" class="absolute cursor-pointer right-2 top-1/2 -translate-y-1/2 bg-btn-primary-ligth bg-opacity-60 hover:bg-opacity-80 p-2 rounded-full z-50 transition">
    <img src="https://img.icons8.com/ios-filled/24/back.png" alt="back" class="w-6 h-6" style="transform: scaleX(-1)"/>
  </button>
</div>
