<section class="mt-5 mx-0 lg:mx-8 space-y-5 ">

 @if(listProfileAdoption | async;  as a) {

   @if(a.length < 1) {
      <p class="text-center text-gray-500 mt-10 h-full">No tienes adnimales en adopción</p>
    } @else {
      @for(adoption of listProfileAdoption | async ; track adoption.id) {
        <div class="flex h-[180px] p-2 gap-2 md:gap-4 lg:gap-4 shadow-lg bg-white rounded-xl">
        <div class="flex justify-center mt-0 ml-0 mr-0">
                <img [src]="'http://localhost:8080' + adoption.imageUrl" alt="tortuga" class="rounded-t-[16px] w-full max-h-[180px] object-cover items-center">
              </div>

              <!-- Nombre y datos -->
              <div class="mt-5 ml-6 mr-6">
                <h3 class="font-poppins font-bold text-[20px] text-center uppercase text-texto-marron-ligth mb-3 text-texto-gris-oscuro">{{ adoption.name}}</h3>
                <ul class="font-poppins text-[16px] normal-case text-texto-gris-claro space-y-2">
                  <li><strong>Edad:</strong><i class="lowercase"> {{ calculateAge(adoption.birthDate) }}</i></li>
                  <li><strong>Animal:</strong><i class="lowercase"> {{ adoption.species }}</i></li>
                  <li><strong>Género:</strong><i class="lowercase"> {{ adoption.gender }}</i></li>
                  <li><strong>Tamaño:</strong><i class="lowercase"> {{ adoption.size }}</i></li>
                  <li><strong>Ubicación:</strong><i class="lowercase"> {{ adoption.location }}</i></li>
                </ul>
              </div>

              <!-- Botón Adoptar -->
              <div class="mt-4 ml-5 mr-5 mx-5 mb-4">
                <a [routerLink]="['/adoptions/details', adoption.id]" routerLinkActive="router-link-active">
                  <button class="sticky bg-btn-primary-ligth font-bold text-white text-[18px] w-full py-2 rounded-[8px] justify-center hover:bg-btn-primary-dark transition duration-300">
                  Adoptar
                  <!-- icono de huella -->
                  <i class="fas fa-paw ml-4"></i>
                </button></a>
              </div>
        </div>
      }
    }

 } @else {
    <p class="text-center text-gray-500 mt-10">Cargando publicaciones...</p>
  }

</section>
