<footer class="bg-primary-dark text-white font-roboto py-10">
  <!-- Imagen de huellas -->
  <img src="img/huellitas.png"  alt="Imagen huellas" class="absolute right-0 object-cover opacity-25 pointer-events-none">

  <div class="relative max-w-6xl mx-auto justify-between space-x-16 grid grid-cols-3 gap-5">
    <!-- Servicios -->
    <div class="p-5 space-y-2">
      <p class="font-extrabold">Servicios</p>
      <ul class="space-y-2">
        <li>
          <a href="#"  routerLink="/adopciones" class="hover:text-gray-300 transition duration-300">Adopciones</a>
        </li>
        <li>
          <a href="#"  routerLink="/reportes" class="hover:text-gray-300 transition duration-300">Reportes</a>
        </li>
        <li>
          <a href="#"  routerLink="/publicaciones" class="hover:text-gray-300 transition duration-300">Publicaciones</a>
        </li>
      </ul>
    </div>

    <!-- Información Legal -->
    <div class="p-5 space-y-2">
      <p class="font-extrabold">Información Legal</p>
      <ul class="space-y-2">
        <li>
          <a href="#"  routerLink="/adopciones" class="hover:text-gray-300 transition duration-300">Adopciones</a>
        </li>
        <li>
          <a href="#"  routerLink="/reportes" class="hover:text-gray-300 transition duration-300">Reportes</a>
        </li>
        <li>
          <a href="#"  routerLink="/publicaciones" class="hover:text-gray-300 transition duration-300">Publicaciones</a>
        </li>
      </ul>
    </div>

    <!-- Siguenos -->
    <div class="p-5 space-y-2">
      <p class="font-extrabold">Siguenos</p>
      <ul class="space-y-2">
        <li>
          <a href="#"  routerLink="/adopciones" class="hover:text-gray-300 transition duration-300">Adopciones</a>
        </li>
        <li>
          <a href="#"  routerLink="/reportes" class="hover:text-gray-300 transition duration-300">Reportes</a>
        </li>
        <li>
          <a href="#"  routerLink="/publicaciones" class="hover:text-gray-300 transition duration-300">Publicaciones</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center text-sm text-white pt-8 mt-0">
    <p>&copy; 2025 Huellitas Solidarias. Todos los derechos reservados.</p>
  </div>

</footer>
