<div class="flex gap-6 mt-10 mb-10 justify-center">

  <!-- Card 1 -->
  <div class="bg-primary w-[320px] h-[450px] rounded-3xl">
    <!-- Imagen -->
    <div class="flex justify-center mt-10">
      <img src="img/cobaya.jpg" alt="respetar" class="rounded-3xl max-w-[230px] max-h-[230px] items-center">
    </div>

    <!-- Texto -->
    <div class="text-center mt-10 ml-8 mr-8">
      <h3 class="font-poppins font-bold text-[20px] mb-3 text-texto-gris-oscuro">Respetar a la mascota</h3>
      <p class="font-poppins font-stretch-normal text-[16px] text-texto-gris-claro">Cada animal tiene una personalidad y no todos van a reaccionar ante el mismo estímulo. </p>
    </div>

  </div>

    <!-- Card 2 -->
    <div class="bg-primary w-[320px] h-[450px] rounded-3xl">
      <!-- Imagen -->
      <div class="flex justify-center mt-10">
        <img src="img/cobaya.jpg" alt="respetar" class="rounded-3xl max-w-[230px] max-h-[230px] items-center">
      </div>

      <!-- Texto -->
      <div class="text-center mt-10 ml-8 mr-8">
        <h3 class="font-poppins font-bold text-[20px] mb-3 text-texto-gris-oscuro">Respetar a la mascota</h3>
        <p class="font-poppins font-stretch-normal text-[16px] text-texto-gris-claro">Cada animal tiene una personalidad y no todos van a reaccionar ante el mismo estímulo. </p>
      </div>

    </div>

      <!-- Card 3 -->
  <div class="bg-primary w-[320px] h-[450px] rounded-3xl">
    <!-- Imagen -->
    <div class="flex justify-center mt-10">
      <img src="img/cobaya.jpg" alt="respetar" class="rounded-3xl max-w-[230px] max-h-[230px] items-center">
    </div>

    <!-- Texto -->
    <div class="text-center mt-10 ml-8 mr-8">
      <h3 class="font-poppins font-bold text-[20px] mb-3 text-texto-gris-oscuro">Respetar a la mascota</h3>
      <p class="font-poppins font-stretch-normal text-[16px] text-texto-gris-claro">Cada animal tiene una personalidad y no todos van a reaccionar ante el mismo estímulo. </p>
    </div>

  </div>

</div>
