<section>
  <div class="mt-15">
    <h1 class="text-[35px] uppercase font-poppins font-semibold text-texto-marron-oscuro text-center">REPORTES</h1>
    <p class="text-[18px] uppercase font-poppins font-normal text-texto-gris-claro text-center" >Una patita perdida, un corazón que espera</p>
  </div>

  <div class="mt-10 mb-10 mx-15">
    <app-filter></app-filter>
  </div>

  <div class="mt-10 mb-10 mx-5">
    <app-card-report></app-card-report>
    <!-- <app-cards></app-cards> -->
  </div>
</section>
