<div class="max-w-6xl mx-auto px-4">
  <section class="mt-8 mb-4 sm:mt-16 sm:mb-8">
    <h1 class="text-2xl sm:text-[35px] uppercase font-poppins font-semibold text-texto-marron-oscuro text-center">
      ADOPCIONES
    </h1>
    <p class="text-base sm:text-[18px] uppercase font-poppins font-normal text-texto-gris-claro text-center">
      Haz que una Huellita Deje Su Marca en tu Corazón
    </p>
  </section>

  <section class="flex flex-col items-center gap-4 mt-8 mb-8 sm:flex-row sm:justify-between sm:items-center sm:gap-6">
    <button (click)="openCreateModal()" class="w-full sm:w-auto md:max-w-[500px] px-6 py-3 bg-primary-dark hover:bg-primary-dark/40 text-white font-semibold rounded-lg shadow-md transition-colors duration-300" type="button">
      Crear adopción
    </button>
    <app-filter (filtered)="onFilteredAdoptions($event)" class="w-full sm:w-auto"></app-filter>
  </section>

  <section class="mb-16 px-4 sm:px-0">
    <app-cards [adoptions]="filteredAdoptions"></app-cards>
  </section>

  @if(showCreateModal) {
    <app-adoption-form (closed)="closeModal()"></app-adoption-form>
  }

  @if(showLoginPrompt) {
    <app-login-prompt-modal
      (cancel)="closeLoginPrompt()"
      (login)="goToLogin()"
    ></app-login-prompt-modal>
  }
</div>
